* text=auto
* eol=lf

/tests export-ignore
/.editorconfig
/.travis.yml
/.gitattributes export-ignore
/.gitignore export-ignore
/.travis.yml export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
